body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#map, #map2 {
  height: 500px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: rgba($color: #000000, $alpha: .2);
  line-height: 1rem;
}

aside {
  position: absolute;
  width: 30vw;
  left: -30vw;
  background-color: rgba(76, 0, 255, .9);
  display: flex;
  flex-direction: column;
  transition: left 0.5s;
}

aside.hide {
  left: 0;
}

.task-create{
  padding: 1rem;
  box-sizing: border-box;
}

.task-create .text-wrapper {
  display: flex;
  flex-direction: column;
}

.task-low {
  display: flex;
  padding: 1rem;
}

.task-low input {
  margin-top: 5px;
}

section.job-create {
  background-color: salmon;
}

.job-create {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.job-create .text-wrapper {
  display: flex;
  flex-direction: column;
  width: 35vw;
}

.map-wrapper {
  height: 30vw;
  width: 60vw;
}

.field input {
  padding: 20px;
}

.field, .field>div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  
}

.field.left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.field div {
  width: 49%;
}

label {
  margin-top: 1rem;
  margin-bottom: .5rem;
  padding-left: .5rem;
}

button, input[type="submit"] {
  color:white;
  font-size: 1.2rem;
  background-color: #777591;
  border: none;
  padding: .5rem;
}

.task-btns button{
  background: burlywood;
}

.tasks {
  background: salmon;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
  width: 30vw;
  border: 3px solid brown;
  border-radius: 1rem;
}

.list-link{
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

#tasks-title {
  margin: 2rem 5rem;
  font-size: 3rem;
  font-weight: bold;
}

.finished-button{
  color: rgb(102, 102, 19);
  margin-left: 9rem;
}

#detail-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem 5rem;
}

#map2 {
  height: 50vh;
  width: 50vh;
  margin: 1rem 5rem;
}

.detail-paragraph {
  margin: 1rem 5rem;
}

#detail-container {
  margin: 1rem 5rem;
  background: salmon;
  padding: 1rem;
  width: 80vw;
  border: 3px solid brown;
  border-radius: 1rem;
}

#detail-link {
  margin: 1rem 5rem;
}

#over-the-map {
  background: salmon;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.map-input {
  margin-left: 1rem;
}

#map {
  width: 100vw;
  height: 35rem;
}

#confirmButton {
  color: white;
  background: red;
  border: 2px solid black;
  border-radius: 1rem;
  width: 20vw;
  height: 15vh;
  font-weight: bold;
}

#return-delete{
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
}

#return-div {
  padding: 1rem;
  background: rgb(175, 165, 173);
  width: 17vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black; 
  border-radius: 1rem; 
  margin-top: 5rem;
  font-weight: bold;
}

#confirm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
