{{!-- <p><a href="/tasks/confirm/ok">confirm</a></p> --}}
<button type="submit" id="confirmButton">CONFIRM</button>
<p><a href="/tasks/confirmCancel">return</a></p>

{{taskId}}
<input id="hidden-input" type="hidden" value="{{taskId}}">

<script src="/javascripts/task-confirm.js"></script>