<h1 id="tasks-title">Tasks lists</h1>

{{#each tasks}}
<div class="tasks">
  <p><a href="/tasks/detail/{{_id}}" class="list-link">{{name}}</a>
    {{#unless flag}}
    <a href="/tasks/confirm/{{_id}}" class= "list-link finished-button">Finished</a>
    {{/unless}}
  </p>
</div>

{{/each}}